@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
}

.tela-de-entrada{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.tela-de-entrada h1{
    color: slateblue;
    font-size: 50px;
    text-align: center;
}
.tela-de-entrada a{
    background-color: slateblue;
    width: 85%;
    color: black;
    padding: 20px 30px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}



.container-tarefas{
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-tarefas #icon-carrinho{
    position: absolute;
    top: 9px;
    left: 10px;
    width: 70px;
    opacity: 83%;
}
.container-tarefas #icon-cestinha{
    position: absolute;
    top: 14px;
    right: 10px;
    width: 70px;
    opacity: 83%;
}
@keyframes slow{
    from{
        transform: translateX(-300px);
    }
}
.container-tarefas .lista-de-tarefas{
    position: relative;
    top: 80px;
    width: 95%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 153px;
}
.container-tarefas .lista-de-tarefas .tarefas {
    position: relative;
    background-color: #38383834;
    width: 100%;
    min-height: 70px;
    padding: 10px;
    padding-right: 57px; /* espaço para a lixeira */

    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;

    /* controle da quebra de linha */
    white-space: normal;       /* permite quebra automática */
    word-wrap: break-word;     /* quebra palavras longas */
    overflow-wrap: break-word; /* alternativa moderna */
    overflow: hidden;
}
.nova-tarefa{
    animation: listarTarefas .2s ease-in-out;
}
@keyframes listarTarefas {
  from {
    transform: scale( 0.1 );
    opacity: 0; 
  }
}
.container-tarefas .lista-de-tarefas .tarefas .lixeira{
     background-color: #181818e9;
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
     height: 70px;
     top: 0;
     right: 0px;
     color: #f0f0f0;
     font-size: 33px;
     cursor: pointer;
}
.container-tarefas .lista-de-tarefas .tarefas .mover{
     background-color: rgba(34, 54, 118, 0.315);
     position: absolute;
     padding: 5px;
     height: 50px;
     bottom: 0;
     right: 0px;
     color: white;
     font-size: 30px;
     border: 2px solid slateblue;
     cursor: pointer;
}



.add-tarefas {
    background-color: #f0f0f0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 998;
}
.add-tarefas input{
    position: relative;
    width: 75%;
    max-width: 450px;
    padding: 20px;
    color: black;
    font-size: 20px;
    border: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #181818e9;
}
.add-tarefas i{
    background-color: #181818e9;
    display: block;
    padding: 7px;
    font-size: 39.9px;
    color:  #f0f0f0;
    z-index: 10;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

